
{% extends '_base.html.twig' %}

{% block title %}admin Information{% endblock %}

{% block main %}

    <H1>Admin Page</H1>
    <p>Admin is allowed to do the following:<br>

        - can do everything a member can<br>
        - can CRUD all projects / members / publications<br>

    </p>

{% endblock %}