{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}
{% block main %}

    <h1>Welcome to the Admin home page !</h1>

 <p>Click <a href="/showNewPublicationFormAction">here</a> to CRUD Publications </p>

    <p>Click here to CRUD Members</p>
    <p>Click here to CRUD Projects</p>


{% endblock %}