

{% extends '_base.html.twig' %}

{% block title %}Student Page{% endblock %}

{% block StudentNavStyle %}current_page{% endblock %}

{% block main %}

    <h1>You're in the Student Area </h1>
<p> Students are allowed to do the following:<br>
    - can edit their profile page<br>
    - can upload / change their profile page photo</p>


{% endblock %}